#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    ProgressionSystem.LoadScripts
#        Description: Enable loading scripts from bracket modules
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadScripts = 1

#
#    ProgressionSystem.LoadDatabase
#        Description: Enable loading SQL files from bracket modules
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadDatabase = 1

#
#    ProgressionSystem.ReapplyUpdates
#        Description: Always reapply every SQL file on start up. Warning: impacts start up times.
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.ReapplyUpdates = 0

#
#    ProgressionSystem.Brackets
#        Description: Defined what brackets should be loaded. It is a bitmask. Available mask values are present in ProgressionSystem.h
#        Default:     0 - None
#                     > 0 - Specific brackets are loaded
#					  E.g. 256 is Bracket 60 - Tier 2;
#						   14 is: Bracket 10-19, 20-29 and 30-39
#

ProgressionSystem.Brackets = 8191 | PROGRESSION_BRACKET_60_TIER3_C_NAXXAMAS

#
#
#
#    ProgressionSystem.60.MoltenCore.ManualRuneHandling
#        Description: Defines whether Molten Core runes are handled manually (dousing through Aqual Quintessence) or automatic when bosses are defeated (WotLK default)
#        Default:   1 - Enabled (requires dousing)
#                   0 - Disabled (automatic, handled when bosses are defeated)
#
#

ProgressionSystem.60.MoltenCore.ManualRuneHandling = 1

#
#    ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction
#        Description: Reduces the cooldown of Eternal Quintessences by the amount specified.
#        Default:   0 - Disabled (1 hour cooldown)
#                   60 - (No cooldown)
#
#

ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction = 0

#
#    ProgressionSystem.60.WorldBosses.KazzakPhasing
#        Description: Enables phasing out players and boss when Lord Kazzak is engaged.
#        Default:   1 - Enabled (Players and boss will be phased)
#                   0 - Disabled
#
#

ProgressionSystem.60.WorldBosses.KazzakPhasing = 1

